<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Etusivu</a>
      </li>
      <li>
        <a href="#storage"><span class="glyphicon glyphicon-glass"></span> Varasto</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Raportteja <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Varaston tilanne</a></li>
            <li><a href="#">Tapahtumat</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-off"></span> Ulos</a>
      </li>
    </ul>
  </div>
</nav>
