<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Etusivu</a>
      </li>
<!--       <li>
        <a href="#storage"><span class="glyphicon glyphicon-glass"></span> Varasto</a>
      </li> -->
      <li uib-dropdown>
        <a href="#" uib-dropdown-toggle role="button"><span class="glyphicon glyphicon-info-sign"></span> Raportteja <span class="caret"></span></a>
          <ul uib-dropdown-menu class="dropdown-menu" role="menu">
            <!-- <li><a href="#" disabled>Varaston tilanne</a></li> -->
            <li><a href="/transfers">Tapahtumat</a></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="#"><span class="glyphicon glyphicon-off"></span> Ulos</a>
      </li>
    </ul>
  </div>
</nav>
