<div class="jumbotron">
  <div class="container">
    <table class="table" ng-model="products">
        <thead>
            <th>Näkyvissä</th>
            <th>Nimi</th>
            <th>Oletukset</th>
        </thead>
        <tbody>
        <tr ng-repeat="p in products | orderBy: 'name'">
            <td>
                <span ng-show="p.active" class="text-success glyphicon glyphicon-ok" ng-click="toggleActive(p)" uib-tooltip="Näkyvissä"></span>
                <span ng-show="!p.active" class="text-danger glyphicon glyphicon-remove" ng-click="toggleActive(p)" uib-tooltip="Piilossa"></span>
            </td>
            <td>{{p.name}}</td>
            <td><span ng-repeat="q in p.qs"><span ng-if="!$first">, </span>{{q.n}}: {{q.q}}</span></td>
        </tr>
        </tbody>
    </table>

    <div class="container">
        <label for="product.name">Nimi</label>
        <input class="form-control" type="text" id="product.name" name="product.name" ng-model="product.name"/>

        <label for="product.unitQty">Pakkauskoko</label>
        <input class="form-control" type="number" min="0" step="1" id="product.unitQty" name="product.unitQty" ng-model="product.unitQty"/>

        <button type="button" class="btn btn-primary btn-block" ng-click="addProduct()">Lisää</button>

    </div>

    <style type="text/css">
        .alertdeleted {
            color:red; text-decoration: line-through;
        }
    </style>

    <div class="text-center" role="alert" id="alerttext">
        <uib-alert ng-repeat="alert in alerts | orderBy : '-time'"
            type="{{alert.type}}"
            close="closeAlert($index)">

            <span ng-class="{alertdeleted: alert.deleted}"><a href=""></a>

            <span ng-if="alert.objid > 0" class="glyphicon glyphicon-trash" ng-click="undoAdd(alert.objid)" uib-tooltip="Poista"></span>

            {{alert.msg}}

            </span>
        </uib-alert>
    </div>

  </div>
</div>
