<div class="container">
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: filters.storage.id == s.id}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 0 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uib-btn-radio="s" ng-click="changeStorage(s.id)" ng-checked="s.id == filters.storage.id"/> {{ s.name }}
        </label>
    </span>

<div class="container">
    <table class="table table-striped" ng-model="products">
        <thead>
            <caption>{{ filters.product.name }} {{ filters.storage.name }}</caption>
            <th>Nimi</th>
            <th>Määrä</th>
            <th>Tapahtumat</th>
        </thead>
        <tbody>
            <tr ng-repeat="p in products | orderBy: 'name'" ng-model="products">


                <td>{{ p.name }}</td>
                <td>{{ p.currentqty }}</td>
                <td><a ng-href="/transfers?storageid={{filters.storage.id}}&productid={{p.id}}">Tapahtumat</th>

            </tr>
        </tbody>
    </table>
</div>