<div>

<div class="jumbotron">
  <div class="container">

    <label for="stofrom">Mistä</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: s.id == newtransfer.stofrom.id}" ng-repeat="s in storages | orderBy: 'id'">
            <input type="radio" name="stofrom" ng-model="newtransfer.stofrom" ng-value="s"
                ng-checked="s.id == newtransfer.stofrom.id" /> {{ s.name }}
        </label>
    </div><br>

    <label>Minne</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: s.id == newtransfer.stodest.id}" ng-repeat="s in storages | orderBy: 'id'">
            <input type="radio" name="stodest" ng-model="newtransfer.stodest" ng-value="s"
                ng-checked="s.id == newtransfer.stodest.id" /> {{ s.name }}
        </label>
    </div><br>

    <label for="product">Mitä</label>

    <select class="form-control" name="product" ng-model="newtransfer.product" ng-change="changeProduct()" ng-options="product.name for product in products | orderBy: 'pid' | filter: { active: true }" >
    </select>

    <label for="qty">Miten paljon</label>
    <div id="qtybuttons" class="btn-group">
        <button class="btn btn-primary" ng-class="{active: newstransfer.qty == q.q}" ng-repeat="q in qs" ng-click="changeQuickQty(q.q, this)"
                autocomplete="off">{{ q.n }}
        </button>
    </div>

    <input class="form-control" type="number" min="0" step="1" id="qty" name="qty" ng-model="newtransfer.qty"/>

    <button type="button" class="btn btn-primary btn-block" ng-click="addTransfer()"><span class="glyphicon glyphicon-log-in"></span> Siirrä</button>

    <style type="text/css">
        .alertdeleted {
            color:red; text-decoration: line-through;
        }
    </style>
    <div class="text-center" role="alert" id="alerttext">
        <uib-alert ng-repeat="alert in alerts | orderBy : '-time'"
            type="{{alert.type}}"
            close="closeAlert($index)">

            <span ng-class="{alertdeleted: alert.deleted}">

            <span ng-if="alert.transferid > 0" class="glyphicon glyphicon-trash" ng-click="undoTransfer(alert.transferid)" uib-tooltip="Poista"></span>
            {{alert.msg}}

            </span>
        </uib-alert>
    </div>
  </div>
</div>
</div>
