<div>
    <p ng-repeat="t in transfers | orderBy: 'transfertime'">
<!--         <span am-time-ago="t.transfertime"
        uib-tooltip="{{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}"></span>
 -->
        {{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}
        {{ types[t.type] }} {{ t.relative | number: 0 }} {{ t.absolute | number: 0 }} {{ products[t.productid].name }}
        {{ storages[t.fromstorageid].name }} -> {{ storages[t.tostorageid].name }} {{ t.comment }}
    </p><br/>
</div>
