<div class="container">
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: filters.storage == s}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 0 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uncheckable uib-btn-radio="s" ng-click="findTransfers()" /> {{ s.name }}
        </label>
    </span>
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: filters.storage == s}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 1 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uncheckable uib-btn-radio="s" ng-click="findTransfers()" /> {{ s.name }}
        </label>
    </span>
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: filters.storage == s}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 2 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uncheckable uib-btn-radio="s" ng-click="findTransfers()" /> {{ s.name }}
        </label>
    </span>
</div>

<div class="container">
    <table class="table table-striped" ng-model="transfers">
        <thead>
            <th></th>
            <th>Tapahtuma</th>
            <th>Tuote</th>
            <th>Mist채</th>
            <th>Minne</th>
            <th>M채채r채</th>
            <th>Kommentti</th>
        </thead>
        <tbody>
            <tr ng-repeat="t in transfers | orderBy: 'transfertime'">
        <!--         <span am-time-ago="t.transfertime"
                uib-tooltip="{{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}"></span>
         -->
                <td>{{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}</td>
                <td>{{ types[t.type] }}</td>
                <td>{{ products[t.productid].name }}</td>
                <td>{{ storages[t.fromstorageid].name }}</td>
                <td>{{ storages[t.tostorageid].name }}</td>
                <td>{{ t.relative | number: 0 }} {{ t.absolute | number: 0 }}</td>
                <td>{{ t.comment }}</td>
            </tr>
        </tbody>
    </table>
</div>
