<div class="container">
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: storageid == s.id}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 0 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uncheckable uib-btn-radio="s" ng-click="findTransfers()" ng-checked="s.id == storage.id"/> {{ s.name }}
        </label>
    </span>
<!--     <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: storageid == s.id}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 1 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uncheckable uib-btn-radio="s" ng-click="findTransfers()" /> {{ s.name }}
        </label>
    </span> -->
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: storageid == s.id}" ng-repeat="s in storages | orderBy: 'id' | filter: { type: 2 } ">
            <input type="radio" name="filters.storage" ng-model="filters.storage" uncheckable uib-btn-radio="s" ng-click="findTransfers()" /> {{ s.name }}
        </label>
    </span>
</div>
<div ng-if="productid" class="container">
    <span class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary active" >
            {{ (products | filter: {id: productid})[0].name }} &nbsp; <button type="button" class="close" ng-click="setProductFilter(undefined)"> &times; </button>
        </label>
    </span>

</div>

<div class="container">
    <table class="table table-striped" ng-model="transfers">
        <caption>Tapahtumat {{ filters.storage.name }}</span>  <span ng-if="productid">{{ (products | filter: {id: productid})[0].name }}</span><button type="button" class="close" ng-click="setProductFilter(undefined)"><span aria-hidden="true">&times;</span></button></caption>
        <thead>
            <th>Aika</th>
            <th>Tapahtuma</th>
            <th>Tuote</th>
            <th>Mist채</th>
            <th>Minne</th>
            <th>Muutos</th>
            <th>M채채r채</th>
            <th>Kommentti</th>
        </thead>
        <tbody>
            <tr ng-repeat="t in transfers | orderBy: 'transfertime'">
        <!--         <span am-time-ago="t.transfertime"
                uib-tooltip="{{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}"></span>
         -->
                <td>{{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}</td>
                <td>{{ types[t.type] }}</td>
                <td><a ng-click="setProductFilter(t.productid)">{{ (products | filter: {id: t.productid})[0].name }}</td>
                <td><a ng-href="/storage/{{t.fromstorageid}}">{{ (storages | filter: {id: t.fromstorageid})[0].name }}</a></td>
                <td><a ng-href="/storage/{{t.tostorageid}}">{{ (storages | filter: {id: t.tostorageid})[0].name }}</a></td>

                <td>
                    <span ng-if="filters.storage">{{ t.change | number: 0 }}</span>
                    <span ng-if="!filters.storage">{{ t.relative | number: 0 }}</span>
                </td>
                <td ng-class="t.class">
                    <a ng-click="setProductFilter(t.productid)">
                        <span ng-if="filters.storage">{{ t.runningvalue | number: 0 }}</span>
                        <span ng-if="!filters.storage">{{ t.absolute | number: 0 }}</span>
                        <span ng-if="t.type == 3 && t.runningvalue - t.absolute !== 0">
                            ({{ (t.runningvalue - t.absolute) | number: 0 }})
                        </span>
                    </a>
                </td>
                <td>{{ t.comment }}</td>
            </tr>
        </tbody>
    </table>
</div>
