{{ transfers }}
<script type="text/ng-template" id="myTooltipTemplate.html">
    <span>Special Tooltip with <strong>markup</strong> and {{ dynamicTooltipText }}</span>
</script>
<div>
    <p ng-repeat="t in transfers">
        <span am-time-ago="t.transfertime"
        uib-tooltip="{{ t.transfertime |  amDateFormat:'DD.MM.YYYY HH:mm:ss' }}"></span>
        : {{ t.comment }}
    </p><br/>
</div>

<span am-time-ago="datenow"></span> {{ datenow | amDateFormat:'DD.MM.YYYY HH:mm:ss' }}
