/*.jumbotron {
    background: #532F8C;
    color: white;
    padding-bottom: 80px;
}
.jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7;
}
.jumbotron .btn-primary.active {
    color: #333;
    background: #fff;
    border-color: #ccc;
}
.jumbotron .btn-primary:hover {
    color: #333;
    background: #fff;
}
.navbar + .jumbotron {
    margin-top: -20px;
}
*/