
    <div ng-if="alert.msg" class="text-center" role="alert" id="alerttext">
        <uib-alert type="{{alert.type}}">

            {{alert.msg}}

            </span>
        </uib-alert>
    </div>
    <div class="container">
        <form ng-submit="user.login()">
            <label for="user.username">Tunnus</label>
            <input class="form-control" type="text" autofocus id="user.username" name="user.username" ng-model="user.username"/>

            <label for="user.password">Salasana</label>
            <input class="form-control" type="password" id="user.password" name="user.password" ng-model="user.password"/>

            <button type="submit" class="btn btn-primary btn-block">Kirjaudu</button>
        </form>
    </div>