<div class="container">
    <span class="btn-group" data-toggle="buttons">
        <span  ng-repeat="s in storages | orderBy: 'id' | filter: { type: 0 } ">
            <label class="btn btn-primary" ng-class="{active: filters.storage.id == s.id}" ng-click="setStorage(s)" ng-checked="s.id == filters.storage.id"> {{ s.name }}
            </label>
        </span>
    </span>
</div>

<div class="container">
    <table class="table table-striped">
        <caption>{{ filters.storage.name }}</caption>
        <thead>
            <th>Tuote</th>
            <th>alku</th>
            <th>Siirrot</th>
            <th>Toimitukset</th>
            <th>Myynti</th>
            <th>Hävikki</th>
            <th>loppu</th>
            <th>erotus</th>
        </thead>
        <tbody>
            <tr ng-repeat="p in reportdata" ng-model="reportdata">
                <td>{{ p.name }}</td>
                <td>{{ p.startvalue | number: 0 }}</td>
                <td>{{ p.transfers | number: 0 }}</td>
                <td>{{ p.deliveries | number: 0 }}</td>
                <td>{{ -p.sales | number: 0 }}</td>
                <td>{{ p.waste | number: 0 }}</td>
                <td>{{ p.endvalue | number: 0 }}</td>
                <td ng-class="p.class">{{ p.endvalue - p.expected | number: 0 }}</td>
            </tr>
        </tbody>
    </table>
</div>