<div>

<div class="jumbotron">
  <div class="container">
    <p ng-if="action.caption">{{action.caption}}</p>

    <div ng-show="options.showDate">
    <label for="transferdate">Päivämäärä (Syötä päivälle, joka on halutulla aikavälillä, esim. sunnuntaille.)</label>
    <input class="form-control" type="date" ng-model="newtransfer.transferdate"/>
    <br /></div>

    <div ng-show="options.showFromStorage">
    <label ng-show="options.showStorageLabels" for="stofrom">Mistä</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: s.id == newtransfer.stofrom.id}" ng-repeat="s in storages | orderBy: 'id' | filter: {type: options.fromStorageType}">
            <input type="radio" id="stofrom" name="stofrom" ng-model="newtransfer.stofrom" ng-value="s"
                ng-checked="s.id == newtransfer.stofrom.id" /> {{ s.name }}
        </label>
    </div>
    <br /></div>

    <div ng-show="options.showToStorage">
    <label ng-show="options.showStorageLabels" for="stodest">Minne</label>
    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: s.id == newtransfer.stodest.id}" ng-repeat="s in storages | orderBy: 'id'| filter: {type: options.fromStorageType}">
            <input type="radio" id="stodest" ng-model="newtransfer.stodest" ng-value="s"
                ng-checked="s.id == newtransfer.stodest.id" /> {{ s.name }}
        </label>
    </div>
    <div ng-if="options.showWaste" class="btn-group" data-toggle="buttons">
        <label class="btn btn-primary" ng-class="{active: s.id == newtransfer.stodest.id}" ng-repeat="s in storages | orderBy: 'id' | filter: {type: 2}">
            <input type="radio" id="stodest" name="stodest" ng-model="newtransfer.stodest" ng-value="s"
                ng-checked="s.id == newtransfer.stodest.id" /> {{ s.name }}
        </label>
    </div>
    <br /></div>

    <label for="product">Mitä</label>

    <select class="form-control" name="product" ng-model="newtransfer.product" ng-change="changeProduct()" ng-options="product.name for product in products | orderBy: 'pid' | filter: { active: true }" >
    </select>

    <label for="qty">Miten paljon</label>
    <div id="qtybuttons" class="btn-group">
        <button class="btn btn-primary" ng-class="{active: newstransfer.qty == q.q}" ng-repeat="q in newtransfer.product.qs" ng-click="changeQuickQty(q.q, this)"
                autocomplete="off">{{ q.n }}
        </button>
    </div>

    <input class="form-control" type="number" min="0" step="1" id="qty" name="qty" ng-model="newtransfer.qty"/>

    <label for="newtransfer.comment">Kommentti</label>
    <input class="form-control" type="text" id="product.name" name="newtransfer.comment" ng-model="newtransfer.comment"/>

    <button type="button" class="btn btn-primary btn-block" ng-click="addTransfer()"><span class="glyphicon glyphicon-log-in"></span> {{action.submitCaption}}</button>

    <style type="text/css">
        .alertdeleted {
            color:red; text-decoration: line-through;
        }
    </style>
    <div class="text-center" role="alert" id="alerttext">
        <uib-alert ng-repeat="alert in alerts | orderBy : '-time'"
            type="{{alert.type}}"
            close="closeAlert($index)">

            <span ng-class="{alertdeleted: alert.deleted}">

            <span ng-if="alert.transferid > 0" class="glyphicon glyphicon-trash" ng-click="undoTransfer(alert.transferid)" uib-tooltip="Poista"></span>
            {{alert.msg}}

            </span>
        </uib-alert>
    </div>
  </div>
</div>
</div>
