<!DOCTYPE html>
<html ng-app="hkApp">
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
</head>

<body>

  <% include ../partials/nav.ejs %>

<div ng-view>

</div>

<% include ../partials/footer.ejs %>
</body>
</html>
