<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron">
  <div class="container">
    <a type="button" class="btn btn-lg btn-default btn-block" href="/transfer"><span class="glyphicon glyphicon-log-out"></span> Varastosta nouto</a>
    <a type="button" class="btn btn-lg btn-primary btn-block" href="#"><span class="glyphicon glyphicon-log-in"></span> Toimitus</a>
    <a type="button" class="btn btn-lg btn-primary btn-block" href="#"><span class="glyphicon glyphicon-edit"></span> Inventaario</a>
  </div>
</div>
<div class="container">
  <!--<div class="alert alert-info text-center" role="alert">
    To deploy your own copy, and learn the fundamentals of the Heroku platform, head over to the <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs" class="alert-link">Getting Started with Node on Heroku</a> tutorial.
  </div>
  <hr>-->
  <div class="row">
    <div>
      <h3><span class="glyphicon glyphicon-info-sign"></span> Varastot</h3>
      <ul>
        <li><a href="#">Päävarasto</a></li>

        <li><a href="#">Villipeura</a></li>
        <li><a href="#">Villikko</a></li>
        <li><a href="#">Villiruusu</a></li>
      </ul>
    </div>
    <div>
      <h3><span class="glyphicon glyphicon-glass"></span> Tuotteet</h3>
      <ul>
        <li><a href="#">Tuotemäärät</a></li>
        <li><a href="#">Toimitukset</a></li>
      </ul>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    Testiversiossa tietoja ei talleteta mihinkään.
  </div>
</div>


</body>
</html>
