<!DOCTYPE html>
<html ng-app="hkApp">
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <% include ../partials/nav.ejs %>

<div>
<form target="#">
<div class="jumbotron">
  <div class="container">
    <label for="sto_from">Mistä</label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active">
        <input type="radio" name="sto_from" value="0" id="sto_from0" autocomplete="off" checked /> Varasto
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="sto_from" value="1" id="sto_from1" autocomplete="off" /> Villipeura
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="sto_from" value="2" id="sto_from2" autocomplete="off" /> Villikko
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="sto_from" value="3" id="sto_from3" autocomplete="off" /> Villiruusu
      </label>
    </div><br>

    <label for="sto_dest">Minne</label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="sto_dest" value="0" id="sto_dest0" autocomplete="off" /> Varasto
      </label>
      <label class="btn btn-primary active">
        <input type="radio" name="sto_dest" value="1" id="sto_dest1" autocomplete="off" checked /> Villipeura
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="sto_dest" value="2" id="sto_dest2" autocomplete="off" /> Villikko
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="sto_dest" value="3" id="sto_dest3" autocomplete="off" /> Villiruusu
      </label>
    </div><br>

    <label for="product">Mitä</label>
    <select class="form-control" id="product" name="product"></select>

    <script type="text/javascript">
        $( document ).ready(function() {
            populateProducts($("#product"));
            $("#product").change(function(e) { changeProduct($("#product")) });
        });
    </script>

    <label for="qty">Miten paljon</label>
    <div class="btn-group" id="quickqtys"></div>
    <input class="form-control" type="number" min="0" step="1" id="qty" name="qty" value="24"/>

    <button type="button" class="btn btn-primary btn-block" id="doTransfer"><span class="glyphicon glyphicon-log-in"></span> Siirrä</button>

    <div class="alert alert-info text-center" role="alert" id="alerttext"></div>

    <script type="text/javascript">
        $( document ).ready(function() {
            $("#doTransfer").click(function(e) { doTransfer(this.form) });

            $('#alerttext').hide();

            $(this.form).submit(function (e) { e.cancel() ;});
        });
    </script>
  </div>
</div>
</form>
</div>

<% include ../partials/footer.ejs %>
<script type="text/javascript" src="/js/transfer.js"></script>
</body>
</html>
