<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <% include ../partials/nav.ejs %>
<div class="jumbotron">
  <div class="container">
    <label for="sto_from">Mistä</label>
    <select class="form-control" id="sto_from" name="sto_from">
        <option value="0" default>Varasto</option>
        <option value="1">Villipeura</option>
        <option value="2">Villikko</option>
        <option value="3">Villiruusu</option>
    </select>
    <label for="sto_dest">Minne</label>
    <select class="form-control" name="sto_dest">
        <option value="0">Varasto</option>
        <option value="1" default>Villipeura</option>
        <option value="2">Villikko</option>
        <option value="3">Villiruusu</option>
    </select>
    <a type="button" class="btn btn-lg btn-primary btn-block" href="#"><span class="glyphicon glyphicon-log-in"></span> Toimitus</a>
  </div>
</div>
</body>
</html>
